<div class="col-lg-3 mb-4">
    <div class="sidebar">
        <a href="/user/me" class="sidebar-link ">
            <i class="fas fa-th-large"></i>
            Dashboard
        </a>
        <a href="/user/accountDetails" class="sidebar-link">
            <i class="fas fa-user"></i>
            Account Details
        </a>
        <a href="/user/shippingAddress" class="sidebar-link">
            <i class="fas fa-map-marker-alt"></i>
            Shipping Address
        </a>
        <a href="/user/wallet" class="sidebar-link">
            <i class="fas fa-wallet"></i>
            Wallet
        </a>
        <a href="#" class="sidebar-link">
            <i class="fas fa-sign-out-alt"></i>
            Log-out
        </a>
    </div>
</div>